POSTGRES__HOST=localhost
POSTGRES__DB=de_name
POSTGRES__USER=UserName
POSTGRES__PORT=host port
POSTGRES__PASSWORD=change-me-local-only

POSTGRES__SESSION__HOST=localhost
POSTGRES_SESSION__DB=
POSTGRES_SESSION__USER=
POSTGRES_SESSION__PASSWORD=
POSTGRES_SESSION__PORT=