.nav-sections {
    display: contents;
}

.nav-center {
    justify-self: center;
}

.nav-right {
    justify-self: end;
    display: flex;
    align-items: center;
}

.nav-center ::deep .mud-button {
    color: whitesmoke;
    text-transform: none;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 38%;
    corner-shape: squircle; /*The system says it dosent know corner shape but its suported by all newer chromiums*/
}

    .nav-center ::deep .mud-button:hover {
        background-color: #3b369c;
        color: white;
    }

    .nav-right ::deep .mud-icon-button {
        color: whitesmoke;
        border-radius: 38%;
        corner-shape: squircle; 
    }

        .nav-right ::deep .mud-icon-button:hover {
            background-color: #3b369c;
            color: white;
        }


